# Place your telegram account API Id here.
# Example: API_ID='1568646351984'
API_ID='your_api_id'

# Place your telegram account API Hash here.
# Example: API_HASH='61465cwecweacewewcwchh87wh'
API_HASH='your_api_hash'

# What session you want name it. It was by default 'check_session'
# Example: SESSION_NAME='check_session'
SESSION_NAME='check_session'